{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<section style="background:#364170; max-height:100%; background-size:cover;">
    <div class="container" >
       <section class="" style="background-color: #2f3861;">
      <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center ">
          <div class="col-xl-8 col-lg-8 col-md-8 col-8 mx-5 p-5">
            <div class="card" style="border-radius: 1rem;">
               <form method="post" action="{% url 'c_auth_register' %}"  class="p-5 ">
                <h3>Client Register</h3>
                   {% csrf_token %}
                   {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                      <div class="form-label">
                            {{ field.label_tag }}
                      </div>
                      <div >
                        {% render_field field.phone_number  %}
                          {{ field }}
                      </div>   
                    </div>
                {% endfor %}
                <button class="btn btn-primary btn-lg my-5 w-100" type="submit">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

</section>

{% endblock content %}