
{% extends 'base.html' %}
{% block content %}
  

  
    {% comment %} Navbar starts here {% endcomment %}

    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Navbar -->

    {% comment %} navbar ends here {% endcomment %}

    <!-- Hero sections starts here -->
   
    {% include 'hero.html' %}
    <!-- hero section ends here -->

    <!-- what we do -->
{% comment %} {% include 'products.html' %} {% endcomment %}
<section class="container">
    <p>Some content goes here</p>
</section>
    <!-- what we do end -->

<!-- Footer start -->
{% include 'footer.html' %}
<!-- Footer end -->

{% endblock content %}
